/* Navigation */
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    list-style: none;
    padding: 8px;
    margin: 8px;
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    color: #40826D;
}

.session-links a {
    list-style: none;
    padding: 8px;
    margin: 8px;
    color: black;
    text-decoration: none;
}

.session-links a:hover {
    color: #40826D;
}

.navbar h2 {
    color: #F65858;;
}

.session-links button:first-child {
    background-color: white;
    font-size: 18px;
    border: none;
}

.session-links button:first-child:hover {
    color: #40826D;
}

/* Profile Button */

.profile-button {
    background-color: white;
    border-radius: 20px;
    border: 1.5px solid #40826D;
    color: #40826D;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 15px;
}

.profile-dropdown {
    position: absolute;
}

.profile-dropdown li {
    list-style: none;
    text-align: right;
    margin-bottom: 5px;
}

.profile-dropdown button:first-child {
    background-color: #40826D;
    color: white;
    padding: 5px 10px;
}
